APP_NAME=email
APP_ENV=local
APP_HOST=0.0.0.0
APP_PORT=8081

# Database drivers: mysql, postgre and sqlite.
DB_DRIVER=mysql
DB_HOST=mysql
DB_PORT=3307
# For SQLite, DB_DATABASE must be the route of the database (ej: storage/database.sqlite).
DB_DATABASE=email
DB_USERNAME=email
DB_PASSWORD=email
DB_LOCAL_MAX_IDLE_CONNECTIONS=10
DB_LOCAL_MAX_OPEN_CONNECTIONS=100

#Log driver options: stdout and file.
LOG_DRIVER=stdout
LOG_PATH=logs/email.log
#Log level: debug, info, warn and error.
LOG_LEVEL=debug

# RabbitMQ
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest

# Mail (Mailpit)
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_USER=
MAIL_PASSWORD=